body{
    margin: 0;
    font-family: 'Lora', serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.highlight{
    color: rgb(190, 1, 190);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background: url("image/top-banner.png") no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(235, 72, 235),  rgb(58, 1, 58));
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    font-weight: 500;
}
.dream-world{
    background: url("image/dream-bg.png") no-repeat;
    background-position: right;
}
.single-style{
    box-shadow: 10px 10px 40px gray;
    height: 75%;
    background-color: white;

}
.experience-area{
    background: url(image/exp-bg.png) no-repeat;
    background-position: left;
}
.experience-area h2{
    margin-left: 65px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(252, 2, 252), rgb(48, 1, 48));
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(3, 109, 248), rgb(14, 1, 92));
    border-image-slice: 1;
}
footer{
    text-align: center;
}